{
  "comments": false,
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "board-js": "./dist"
      }
    }]
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      },
      "@babel/preset-typescript"
    ]
  ]
}